
{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 left-pane">
			<div id="map-canvas"></div>
		</div>
		<div class="col-md-4 right-pane">
			<div class="well tp-panel">
				<div class="tp-pane-item">
					<label for="hotels">Hotels: </label>
					<div>
						<select id="hotels" name="hotels">
							{% for hotel in hotels %}
								<option value="{{hotel._id.toString()}}">{{hotel.name}}</option>
							{% endfor %}
						</select>
						<i class="fa fa-plus-circle  fa-lg pull-right add-blue" onclick="dayCtrl.currentDay.addHotel()"></i>
					</div>
				</div>
				<div class="tp-pane-item">
					<label for="restaurants">Restaurants: </label>
					<div>
						<select id="restaurants" name="restaurants">
							{% for restaurant in restaurants %}
								<option value="{{restaurant._id.toString()}}">{{restaurant.name}}</option>
							{% endfor %}
						</select>
						<i class="fa fa-plus-circle  fa-lg pull-right add-blue" onclick="dayCtrl.currentDay.addRestaurant()"></i>
					</div>
				</div>
				<div class="tp-pane-item">
					<label for="activities">Activities: </label>
					<div>
						<select id="activities" name="activities">
							{% for activity in activities %}
								<option value="{{activity._id.toString()}}">{{activity.name}}</option>
							{% endfor %}
						</select>
						<i class="fa fa-plus-circle  fa-lg pull-right add-blue" onclick="dayCtrl.currentDay.addActivity()"></i>
					</div>
				</div>
			</div>
			<div class="tp-date-panel">
				<button id="current-day-btn" class="btn btn-default tp-pane-day" type="button"></button>
			</div>

			<div class="panel panel-default  tp-schedule-panel">
			    <div class="panel-heading tp-panel-heading">
			      <ul id="day-ctrl" class="pagination">
			      	<li id="add-day-btn"><a class="btn-round" href="javascript:void(0);" onclick="dayCtrl.add()">+</a></li>
			      </ul>
			    </div>
			    <div class="panel-body tp-panel-body">
			        <div>
			        	<label>My Hotel</label>
			        	<ul id="it-hotel" class="list-group">
			        		<!-- <li class="list-group-item">Andaz Wall Street<i class="fa fa-times-circle fa-lg pull-right sub-red"></i></li> -->
			        	</ul>
			        </div>
			        <div>
			        	<label>My Restaurants</label>
			        	<ul id="it-restaurants" class="list-group">
			        		<!-- <li class="list-group-item">The Capital Grille<i class="fa fa-times-circle fa-lg pull-right sub-red"></i></li>
			        		<li class="list-group-item">Bouley<i class="fa fa-times-circle fa-lg pull-right sub-red"></i></li> -->
			        	</ul>
			        </div>
			        <div>
			        	<label>My Activities</label>
			        	<ul id="it-activities" class="list-group">
			        	<!-- 	<li class="list-group-item">Mahayana Temple Buddhist Association  <i class="fa fa-times-circle  fa-lg pull-right sub-red"></i></li>
			        		<li class="list-group-item">South Street Seaport  <i class="fa fa-times-circle fa-lg  pull-right sub-red"></i></li> -->
			        	</ul>
			        </div>
			    </div>
			</div>
		</div>
	</div>

</div>
	
{% endblock %}